/*头部文件开始*/
.nav-bg{
    background-color: #add301;
    height:42px;
    padding-top: 8px;
}
.search_icon{
    display: inline-block;
    background: url("../image/all-search.jpg")no-repeat;
    width:26px;
    height:26px;
    margin-top:3px;
    cursor: pointer;
}
.nav-item,.login{
    margin-top:2px;
}
.nav-item li,.login li{
    float: left;
    margin:0 3px;
}
.nav-item li a,.login li a{
    color:#fff;
}
.line{
    width:1px;
    height:15px;
    background-color: #fff;
    margin-top:2px!important;
}
/*头部文件结束*/
/*导航文件开始*/
.c{
    width:1000px;
    margin:0 auto;
}
.header{
    padding:50px 0 30px 0;
}
.input{
    width:210px;
    height:26px;
    background-color:#fff;
    color:#888;
}
.key{
    text-indent: 10px;
    width:180px;
    height:26px;
    line-height: 26px;
}
.login>li{
    margin:0 8px;
}
.logo{
    margin-left:20px;
}
.header>.c>.header-item>li{
    float: left;
    width:95px;
    text-align: center;
}
.header .header-item li a{
    color:#000;
    font-size: 15px;
}
.header .header-item li a:hover{
    text-decoration: none;
}
.header .header-item .gray a{
    color: rgb(170, 170, 170);
    font-size: 12px;
    cursor: pointer;
}
.header .header-item .on a,.header .header-item .on li,.header .header-item  ul:hover li a{
    color: rgb(143, 195, 31);
}
.border-bot{
    border-bottom: 1px solid #ddd;
    /*transform:rotate(0.5deg);*/
}

.xiala-list{
    width: 294px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    position: absolute;
    top: 49px;
    left: -95px;
    z-index: 2;
    box-shadow: 2px 2px 5px #ddd;
    display: none;
}
.xiala-con p a{
    background:url(../image/gray-arrow-r.png) no-repeat left 7px;
    padding-left:9px;
}
.xiala-con p a:hover{
    text-decoration:none;
    background:url(../image/green-arrow-r.png) no-repeat left 11px;
}
.xiala-con{
    width: 146px;
    height: 300px;
    border-right: 1px solid #cfcfcf;
    float: left;
}
.xiala-con h4{
    font-size:14px;
    color:#333;
    padding:0 0 2px 5px;
    height:20px;
    font-weight:bold;
}
.xiala-con p{
    line-height:20px;
    padding:3px 0;
}
.xiala-con p a{
    color:#767779 !important;
    font-size:13px !important;
}
.xiala-con p a:hover{
    color:#8fc31f !important;
}
.xiala-img img{
    width:156px;
    height:188px;
}
.header-item-hangye{
    position: relative;
}
.arrow-up{
    display: inline-block;
    background: url(../image/arrow-up.png)no-repeat;
    width: 15px;
    height: 8px;
    position: absolute;
    top: -8px;
    left: 138px;
}
.header-item-hangye:hover .xiala-list{
    display: block;
}
.changpin,.changpin-con{
    height:220px;
}
/*导航文件结束*/
.pointer-item{
    width: 482px;
}
.pointer-item li a i{
    background: url("../image/thid-gray-r.png") no-repeat left center;
    padding-left: 17px;
    width: 10px;
    height:10px;
    display: inline-block;
}
.pointer-item li a{
    color:#87898c;
    line-height: 25px;
}
.pointer-item li a:hover{
    color:#488aca;
}
.pointer-item li a span {
    float: right;
}
/*内容部分*/
.number{
    margin-bottom: 20px;
}
.number>h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.online-img{
    margin-top:50px;
}
.media-body p{
    width: 374px;
}
.report-content{
    margin-top: 20px!important;
}
.report-text1{
    color: #4185c8;
    background: url(../image/blue-arrow.png) no-repeat left 2px;
    padding-left: 18px;
    font-size: 14px;
    display: inline-block;
}
.report-text2{
    padding-top: 8px;
    height: 66px;
}
.report-text3 span{
    color: #8fc31f;
}
.report-item>li{
    float: left;
    width: 490px;
    margin-right: 15px;
}
.report-list{
    margin-top: 25px;
}
.report-list>li{
    line-height: 30px;
}
.free {
    margin-top: 20px !important;
}
/*尾部文件*/
.footer{
    background-color: #47aa36;
    padding:30px 0;
    height:260px;
    margin-top:30px;
}
.footer-content{
    padding-left: 237px;
}
.footer-list li{
    float: left;
    margin:0 10px;
}
.footer-list li a{
    color: #fff;
    font-size: 17px;
}
.line1{
    width: 1px;
    height: 15px;
    background-color: #fff;
    margin-top: 6px!important;
}
.search{
    margin-top: 38px;
    margin-left: 80px;
}
.search-color{
    background-color: #add301;
    border-color: #add301;
    color:#fff;
}
.search-input{
    width:300px!important;
}
.footer-content p{
    color:#fff;
    font-size: 12px;
    margin-top:20px;
    padding-left:140px;
}
.footer-content p a{
    margin-left:20px;
    text-decoration: underline;
    color: #fff;
}
.footer-bottom{
    margin-top:30px;
}
.footer-bottom,.footer-bottom a{
    color:#98c791;
}
.footer-bottom span{
    margin-right:5px;
}
.weixin a{
    margin-right: 20px;
}
.public-number{
    margin-top:20px;
    margin-bottom: 24px;
}
.public-number p{
    color:#fff;
    font-size: 13px;
    margin-top:3px;
    margin-left:3px;
}